{% doc %}
  Intended for use in a block similar to the button block.

  @param {string} link - link to render, will override settings.link
  @param {object} [block] - The block

  @example
  {% render 'button', link: '/collections/all' %}
{% enddoc %}

{% stylesheet %}
  .link {
    text-decoration: none;
    text-decoration-color: currentcolor;

    &:hover {
      color: var(--color-primary-hover);
      text-decoration-color: transparent;
    }
  }
{% endstylesheet %}

{% assign link = link | default: block.settings.link %}

{% if block.settings.corner_style == 'cutout' %}
  {% assign cs = block.settings.cutout_size %}
  {% case block.settings.cutout_corners %}
    {% when 'all' %}
      {% capture cutout_clip %}polygon({{ cs }}px 0%, calc(100% - {{ cs }}px) 0%, 100% {{ cs }}px, 100% calc(100% - {{ cs }}px), calc(100% - {{ cs }}px) 100%, {{ cs }}px 100%, 0% calc(100% - {{ cs }}px), 0% {{ cs }}px){% endcapture %}
    {% when 'top-left' %}
      {% capture cutout_clip %}polygon({{ cs }}px 0%, 100% 0%, 100% 100%, 0% 100%, 0% {{ cs }}px){% endcapture %}
    {% when 'top-right' %}
      {% capture cutout_clip %}polygon(0% 0%, calc(100% - {{ cs }}px) 0%, 100% {{ cs }}px, 100% 100%, 0% 100%){% endcapture %}
    {% when 'bottom-right' %}
      {% capture cutout_clip %}polygon(0% 0%, 100% 0%, 100% calc(100% - {{ cs }}px), calc(100% - {{ cs }}px) 100%, 0% 100%){% endcapture %}
    {% when 'bottom-left' %}
      {% capture cutout_clip %}polygon(0% 0%, 100% 0%, 100% 100%, {{ cs }}px 100%, 0% calc(100% - {{ cs }}px)){% endcapture %}
  {% endcase %}
{% endif %}

<a
  {% if link == blank %}
    role="link"
    aria-disabled="true"
  {% else %}
    href="{{ link }}"
  {% endif %}
  class="
    size-style
    {{ block.settings.style_class }}
    {{ block.settings.style_class }}--{{ block.id }}
  "
  style="{% render 'size-style', settings: block.settings %}{% if cutout_clip %} clip-path: {{ cutout_clip }}; border-radius: 0;{% endif %}"
  {%- if block.settings.open_in_new_tab -%}
    target="_blank"
    rel="noopener noreferrer"
  {%- endif -%}
  {{ block.shopify_attributes }}
>
  {{ block.settings.label }}
</a>
